.bag-box {
    width: 40%;
    border-radius: 8px;
    margin-top: 5rem;
    height: fit-content;
}

.item-box {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 8px;
}

.item-box div p:last-of-type {
    font-size: 1.4rem;
    margin-bottom: 0;
    font-weight: bold;
}

.item-box div:nth-child(3) p:last-of-type {
    background-color: rgb(46, 78, 255);
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    padding: .5rem 2rem;
}
.item-box div:nth-child(4) p:last-of-type {
    color: rgb(46, 78, 255);
}


.item-box div{
    width: 25%;
}
.item-box div:nth-child(3){
    width: 20%;
}